
@{
    ViewBag.Title = "form";
}

<h2>Student form</h2>

<form action="/Home/form" method="post">
    <input type="text" name="Name" class="form-control" placeholder="Name" />
    @Html.ValidationMessage("Name", new { @class = "text-danger" })<br>
    <input type="text" name="Id" class="form-control" placeholder="Id" />
    @Html.ValidationMessage("Id", new { @class = "text-danger" })<br>
    <input type="text" name="Dob" class="form-control" placeholder="Dob" />
    @Html.ValidationMessage("Dob", new { @class = "text-danger" })<br>
    <input type="text" name="password" class="form-control" placeholder="password" />
    @Html.ValidationMessage("password", new { @class = "text-danger" })<br>
    <input type="text" name="confirmpassword" class="form-control" placeholder="confirmpassword" />
    @Html.ValidationMessage("confirmpassword", new { @class = "text-danger" })<br>
    <input type="email" name="email" class="form-control" placeholder="email" />
    @Html.ValidationMessage("email", new { @class = "text-danger" })<br>
    <input type="submit" value="submit" />
</form>